[submodule "themes/smol"]
	path = themes/smol
	url = https://github.com/colorchestra/smol.git
[submodule "themes/wisdom"]
	path = themes/wisdom
	url = https://github.com/maxrodrigo/hugo-theme-wisdom
[submodule "themes/smigle"]
	path = themes/smigle
	url = https://gitlab.com/ian-s-mcb/smigle-hugo-theme.git
[submodule "themes/hugo-bearcub"]
	path = themes/hugo-bearcub
	url = https://github.com/clente/hugo-bearcub
